<div class="loader-bg" *ngIf="isLoading">
  <div class="loader"></div>
</div>
<div class="org-chart" appOrgachart [empArr]="employees" [orgaArr]="orgaArr" *ngIf="employees.length>0 && !isLoading">
   <ul>
    <li *ngFor="let emp of empArr">
      <div class="user">
        <img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" class="img-responsive" />
        <div class="name">{{emp.empname}}</div>
        <div class="role">{{emp.empdesgname}}</div>
      </div>
    </li>
  </ul> 
</div>